.noteContainer {
    background-color: rgb(8, 171, 171);
    width: 400px;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
    position: relative;
    color: white;
  }
  .trash {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .edit {
    position: absolute;
    top: 10px;
    right: 40px;
  }
  .title {
    font-size: 32px;
  }
  .date {
    display: flex;
    justify-content: flex-end;
  }
  
  